<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/jquery/jquery-3.4.1.min.js}" src="../jquery/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {

            $('#passwordRepeat').on("change input", function() {
                var buttonElem = $('#updatePassword');
                buttonElem.prop("disabled", $('#password').val() !== $('#passwordRepeat').val());
            });
        });
    </script>
    
    
    <title th:if="${model.id == null}">Vytvor používateľa</title>
    <title th:if="${model.id != null}">Uprav používateľa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <header>
        <div>
            <img th:src="@{/img/trnka-logo-small.PNG}" class="img-fluid" alt="logo">
        </div>
    </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='user-management')">
    </nav>
    <h1 th:if="${model.id == null}" class="bg-secondary text-white px-2 py-2">Vytvor používateľa</h1>
    <h1 th:if="${model.id != null}" class="bg-secondary text-white px-2 py-2">Uprav používateľa</h1>

    <div id="user-form" class="container-fluid border my-2 py-2" th:replace="fragments/user-form.html :: setData(model=${model})"></div>
</main>
</body>
<footer>
    <div class="text-center p-3">
        <img th:src="@{/img/ministerstvo.PNG}" class="img-fluid" alt="logo">
    </div>
</footer>
</html>