<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/jquery/jquery-3.4.1.min.js}" src="../jquery/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            var courseId = /*[[${model.course.id}]]*/ 0;
            $('#manage-students').click(function () {
                window.location.href = '/vst/ui/student/all/course/' + courseId;
            });
        });
    </script>
    <title>Course Edit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <header>
        <div>
            <img th:src="@{/img/trnka-logo-small.PNG}" class="img-fluid" alt="logo">
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='class')">
    </nav>
    <h1 class="bg-secondary text-white px-2 py-2">Vytvor / uprav kurz</h1>
    
    <form class="form-group my-2 my-lg-0" method="post" th:action="@{/vst/ui/course}" th:object="${model.course}">
        <input type="hidden" th:field="*{id}" th:value="*{id}">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Názov: </label>
            <div class="col-sm-10">
                <input type="text" id="name" th:field="*{name}" th:value="*{name}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary m-2 my-sm-0">Potvrď</button>
            <button type="button" id="manage-students" class="btn btn-primary m-2 my-sm-0">Spravovať študentov triedy</button>
        </div>
    </form>
    
</main>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-3">
        <img th:src="@{/img/ministerstvo.PNG}" class="img-fluid" alt="logo">
    </div>
    <!-- Copyright -->
</footer>
</html>