<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
    </script>
    <title>Teacher Dictionary</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='dictionary')">
    </nav>
    <h1 class="bg-secondary text-white px-2 py-2">Slovník</h1>
    
    <h3>Písmená</h3>
    
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/A.png}" class="img-fluid" alt="A">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/B.png}" class="img-fluid" alt="B">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/C.png}" class="img-fluid" alt="C">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/D.png}" class="img-fluid" alt="D">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/E.png}" class="img-fluid" alt="E">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/F.png}" class="img-fluid" alt="F">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/G.png}" class="img-fluid" alt="G">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/H.png}" class="img-fluid" alt="H">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/I.png}" class="img-fluid" alt="I">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/J.png}" class="img-fluid" alt="J">
            </div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/K.png}" class="img-fluid" alt="K">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/L.png}" class="img-fluid" alt="L">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/M.png}" class="img-fluid" alt="M">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/N.png}" class="img-fluid" alt="N">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/O.png}" class="img-fluid" alt="O">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/P.png}" class="img-fluid" alt="P">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/R.png}" class="img-fluid" alt="R">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/S.png}" class="img-fluid" alt="S">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/T.png}" class="img-fluid" alt="T">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/U.png}" class="img-fluid" alt="U">
            </div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/V.png}" class="img-fluid" alt="V">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/W.png}" class="img-fluid" alt="W">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/X.png}" class="img-fluid" alt="X">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/Y.png}" class="img-fluid" alt="Y">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/Z.png}" class="img-fluid" alt="Z">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/and.png}" class="img-fluid" alt="and">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/capital.png}" class="img-fluid" alt="capital">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/letters/the.png}" class="img-fluid" alt="the">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    
    </div>
    
    <h3>Číslice</h3>
    
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/0.png}" class="img-fluid" alt="0">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/1.png}" class="img-fluid" alt="1">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/2.png}" class="img-fluid" alt="2">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/3.png}" class="img-fluid" alt="3">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/4.png}" class="img-fluid" alt="4">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/5.png}" class="img-fluid" alt="5">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/6.png}" class="img-fluid" alt="6">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/7.png}" class="img-fluid" alt="7">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/8.png}" class="img-fluid" alt="8">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/9.png}" class="img-fluid" alt="9">
            </div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/+.png}" class="img-fluid" alt="+">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/-.png}" class="img-fluid" alt="-">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/bodka.png}" class="img-fluid" alt="bodka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/dvojbodka.png}" class="img-fluid" alt="dvojbodka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/equal.png}" class="img-fluid" alt="equal">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/lava_zatvorka.png}" class="img-fluid" alt="lava_zatvorka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/prava_zatvorka.png}" class="img-fluid" alt="prava_zatvorka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/mensie.png}" class="img-fluid" alt="mensie">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/vacsie.png}" class="img-fluid" alt="vacsie">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/number.png}" class="img-fluid" alt="number">
            </div>
        </div>
        
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/odmocnina.png}" class="img-fluid" alt="odmocnina">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/percento.png}" class="img-fluid" alt="percento">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/digits/sucin.png}" class="img-fluid" alt="sucin">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    
    
    <h3>Špeciálne znaky</h3>
    
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/special/apostrof.png}" class="img-fluid" alt="apostrof">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/bodka.png}" class="img-fluid" alt="bodka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/bodkociarka.png}" class="img-fluid" alt="bodkociarka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/ciarka.png}" class="img-fluid" alt="ciarka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/dvojbodka.png}" class="img-fluid" alt="dvojbodka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/hviezdicka.png}" class="img-fluid" alt="hviezdicka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/lava_zatvorka.png}" class="img-fluid" alt="lava_zatvorka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/prava_zatvorka.png}" class="img-fluid" alt="prava_zatvorka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/left_shift.png}" class="img-fluid" alt="left_shift">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/right_shift.png}" class="img-fluid" alt="right_shift">
            </div>
        </div>
    
        <div class="row my-2">
            <div class="col-sm">
                <img th:src="@{/img/brail/special/lomka.png}" class="img-fluid" alt="lomka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/mensie.png}" class="img-fluid" alt="mensie">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/vacsie.png}" class="img-fluid" alt="vacsie">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/mriezka.png}" class="img-fluid" alt="mriezka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/otaznik.png}" class="img-fluid" alt="otaznik">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/pomlcka.png}" class="img-fluid" alt="pomlcka">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/vykricnik.png}" class="img-fluid" alt="vykricnik">
            </div>
            <div class="col-sm">
                <img th:src="@{/img/brail/special/zavinac.png}" class="img-fluid" alt="zavinac">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
        
    </div>

</main>
</body>
</html>
