<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/jquery/jquery-3.4.1.min.js}" src="../jquery/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript">

        var examinationId = /*[[${model.examination.id}]]*/ 0;

        function moveBrailUp(examinationStepId) {
            console.log("up " + examinationStepId);
            jQuery.ajax({
                url: '/vst/ui/course/brail/up',
                type: "POST",
                data: JSON.stringify({examinationId: examinationId, examinationStepId: examinationStepId}),
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#examination-step-list").replaceWith(response);
                },
                error: function () {
                    alert("Error occurred");
                }

            });
        }

        function moveBrailDown(examinationStepId) {
            console.log("down " + examinationStepId);
            jQuery.ajax({
                url: '/vst/ui/course/brail/down',
                type: "POST",
                data: JSON.stringify({examinationId: examinationId, examinationStepId: examinationStepId}),
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#examination-step-list").replaceWith(response);
                },
                error: function () {
                    alert("Error occurred");
                }

            });
        }

        $(document).ready(function () {
        });
    </script>
    <title>Teacher Testing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <header>
        <div>
            <img th:src="@{/img/trnka-logo-small.PNG}" class="img-fluid" alt="logo">
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='testing')">
    </nav>
    <h1 class="bg-secondary text-white px-2 py-2">Úprava testu</h1>
    <div id="examination-form" class="container-fluid border my-2 py-2" th:replace="fragments/examination-form.html :: setData(model=${model})"></div>
    
    
    <!--    show only when no validation errors-->
    <div th:if="${model.errors == null || model.errors.isEmpty()}">
        <h2 class="lead my-4">Pridanie kroku: </h2>
        <div id="create-step-form" class="container-fluid border my-2 py-2" th:replace="fragments/create-step-form.html :: setData(model=${model})"></div>
        <div id="examination-step-list"
             th:replace="fragments/examination-step-list.html :: setData(examinationSteps=${model.examination.examinationSteps})"></div>
    </div>

</main>
</body>
<footer>
    <div class="text-center p-3">
        <img th:src="@{/img/ministerstvo.PNG}" class="img-fluid" alt="logo">
    </div>
</footer>
</html>
