<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
    </script>
    <title>Teacher Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='results')">
    </nav>
    <h1 class="bg-secondary text-white px-2 py-2" th:text="'Výsledky študenta s ID: ' + ${model.studentId} + ' a kódom:' + ${model.deviceIdentificationCode}">Výsledky študenta</h1>
    
    
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Typ sekvencie</th>
            <th scope="col">Sekvencia znakov</th>
            <th scope="col">Trvanie mili-sekund</th>
            <th scope="col">Uspesne absolvoval</th>
            <th scope="col">Datum a cas ukoncenia</th>
        
        </tr>
        </thead>
        
        <th:block th:each="examStat : ${model.statistics}">
            <tr>
                <td th:text="${examStat.examinationId}">1</td>
                <td th:text="${examStat.sequenceType}">1</td>
                <td th:text="${examStat.letterSequence}">1</td>
                <td th:text="${examStat.totalTimeInMs}">1</td>
                <td th:text="${examStat.passed}">1</td>
                <td th:text="${#temporals.format(examStat.finishedOn, 'yyyy-MM-dd HH:mm:ss')}">1</td>
            </tr>
            <tr>
                <td colspan="6">
                <table class="table-plain">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Znak</th>
                        <th scope="col">Trvanie mili-sekund</th>
                        <th scope="col">Pokusov</th>
                        <th scope="col">Spravne</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stepStat : ${examStat.stepStatistics}">
                        <td th:text="${stepStat.letter}">1</td>
                        <td th:text="${stepStat.durationInMs}">1</td>
                        <td th:text="${stepStat.retries}">1</td>
                        <td th:text="${stepStat.correct}">1</td>
                    </tr>
                    </tbody>
                </table>
                </td>
            </tr>
        </th:block>
        
    </table>


</main>
</body>
</html>


