<!DOCTYPE html>
<html lang="en">
<head>
    <script th:src="@{/jquery/jquery-3.4.1.min.js}" src="../jquery/jquery-3.4.1.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    
    <title>Správa Synchronizácie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <header>
        <div>
            <img th:src="@{/img/trnka-logo-small.PNG}" class="img-fluid" alt="logo">
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='sync-management')">
    </nav>
    <h1 class="bg-secondary text-white px-2 py-2">Správa Synchronizácie</h1>
    
    <div>
        Pred zapnutím synchronizácie sa uistite, či sú zariadenia
        <ol>
            <li>zapnuté</li>
            <li>používateľ na zariadení je odhlásený</li>
        </ol>
        
        Pokiaľ nebude táto podmienka splnená (napr. používateľ je na zariadení prihlásený) zariadenia sa nezačnú synchronizovať.
        Synchronizácia na zariadení sa spúšťa každé 2 Minúty.
        Po úspešnej synchronizácii, na ktorú zariadenie upozorní prehraním audio hlášky, treba znovu vypnúť synchronizáciu tlačidlami nižšie.
        <br /><br /><br />
    </div>
    
    <form id="sync-management-form" class="form-group my-2 my-lg-0" method="post" th:object="${model}" enctype="multipart/form-data">
        <!--        <input type="hidden" th:field="*{id}" th:value="*{id}">-->
        
        
        <div class="form-group row">
            <label for="enableDownloadFromServerToDevice" class="col-sm-2 col-form-label">
                Synchronizácia: VST -> Zariadenie
            </label>
            <div class="checkbox">
                <div class="col-sm-10 border border-primary">
                    <input id="enableDownloadFromServerToDevice" th:field="*{enableDownloadFromServerToDevice}" type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="enableUploadFromDeviceToServer" class="col-sm-2 col-form-label">
                Synchronizácia: Zariadenia -> VST
            </label>
            <div class="checkbox">
                <div class="col-sm-10 border border-primary">
                    <input id="enableUploadFromDeviceToServer" th:field="*{enableUploadFromDeviceToServer}" type="checkbox" data-toggle="toggle">
                </div>
            </div>
        </div>
        
        <div class="form-row mb-3">
            <input type="submit" name="submit" th:formaction="@{/vst/ui/sync-management}" class="btn btn-primary my-3 my-sm-0" id="submit" value="Potvrď">
        </div>
    
    </form>

</main>
</body>
<footer>
    <div class="text-center p-3">
        <img th:src="@{/img/ministerstvo.PNG}" class="img-fluid" alt="logo">
    </div>
</footer>
</html>
