<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
    </script>
    <title>Teacher Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='home')">
    </nav>
    
    <h1 class="display-4" th:text="'Vitaj: ' + ${teacherName}">Vitaj, user!</h1>
    <p class="lead">VST management tool na spravu tried, testov, vysledkov, studentov.</p>
    <hr class="my-4">
    <p>Pomocou navigacie zvolte pozadovanu sekciu.</p>
</main>
</body>
</html>
