<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript">
    </script>
    <title>Teacher Testing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>


<main class="jumbotron">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:replace="fragments/navigation.html :: setData(currentPage='testing')">
    </nav>
    
    <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/vst/ui/teacher/testing/create}">
        <button type="submit" class="btn btn-primary my-2 my-sm-0">Vytvor novy test</button>
    </form>
    
    
    <p class="lead my-4">Zoznam testov:</p>
    <div id="examination-list" class="examination-list container-fluid border my-2 py-2" th:replace="fragments/examination-list.html :: setData(exams=${model.exams})"></div>
    
    
</main>
</body>
</html>
