<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
   
</head>
<body>
<div id="examination-step-list" class="examination-list container-fluid border my-2 py-2" th:fragment="setData(examinationSteps)">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Znak</th>
            <th scope="col">Brail reprezentacia</th>
            <th scope="col">Zachovaj poradie</th>
            <th scope="col">Zmen poradie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="step : ${examinationSteps}">
            <td th:text="${step.brailCharacter.letter}">1</td>
            <td th:text="${step.brailCharacter.brailRepresentation}"></td>
            <td>
                <input type="checkbox" th:checked="${step.preserveOrder}">
            </td>
            <td>
                <button type="button" class="btn btn-secondary my-2 my-sm-0" onclick="moveBrailUp()">Up</button>
                <button type="button" class="btn btn-secondary my-2 my-sm-0">Down</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
