<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation" th:fragment="setData(currentPage)">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a th:class="${currentPage} == 'home'? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/home}">Home</a>
            </li>
            <li class="nav-item">
                <a th:class="${currentPage} == 'class'? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/class}">Trieda</a>
            </li>
            <li class="nav-item">
                <a th:class="${currentPage} == 'learning' ? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/learning}">Vyuka</a>
            </li>
            <li class="nav-item">
                <a th:class="${currentPage} == 'testing' ? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/testing}">Testovanie</a>
            </li>
            <li class="nav-item">
                <a th:class="${currentPage} == 'results' ? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/results}">Vysledky</a>
            </li>
            <li class="nav-item">
                <a th:class="${currentPage} == 'dictionary' ? 'nav-link active' : 'nav-link inactive'" href="#" th:href="@{/vst/ui/teacher/dictionary}">Slovnik</a>
            </li>
        
        </ul>
        
        <form class="form-inline my-2 my-lg-0 float-right" action="#" th:action="@{/vst/ui/logout}" method="POST" >
            <p  class="navbar-brand mb-0 h2"><span th:inline="text">Pouzivatel: [[${#httpServletRequest.remoteUser}]]!</span></p>
            
            <input type="submit" class="btn btn-secondary my-2 my-sm-0 float-right" value="Odhlasit" />
        </form>
    </div>
</nav>
</body>
</html>
