<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="student-list" class="container-fluid border my-2 py-2" th:fragment="setData(model)">
    
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Prihlasovaci kod</th>
            <th scope="col">ID triedy</th>
            <th scope="col">Nazov triedy</th>
            <th scope="col">Upravit</th>
            <th scope="col">Vymazat</th>
            <th scope="col">Vysledky</th>
            
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${model}">
            <td th:text="${student.id}">1</td>
            <td th:text="${student.deviceIdentificationCode}">1</td>
            <td><span th:if="${student.course!=null}" th:text="${student.course.id}"></span></td>
            <td><span th:if="${student.course!=null}" th:text="${student.course.name}"></span></td>
            <td>
                <form method="get" th:action="@{/vst/ui/student}">
                    <input type="hidden" th:value="${student.id}" name="id"/>
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Upravit</button>
                </form>
            </td>
            <td>
                <form method="get" th:action="@{/vst/ui/student/delete}">
                    <input type="hidden" th:value="${student.id}" name="id"/>
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Vymazat</button>
                </form>
            </td>
            <td>
                <form method="get" th:action="@{/vst/ui/student/__${student.id}__/statistics}">
                    <button type="submit" class="btn btn-secondary my-2 my-sm-0">Vysledky</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
   
</div>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-3">
        <img th:src="@{/img/ministerstvo.PNG}" class="img-fluid" alt="logo">
    </div>
    <!-- Copyright -->
</footer>
</html>